
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

#code {

	height: 60px;
	width: 50%;
	margin: 0 auto;
	font-size: 40px;

}





